@font-face {
    font-family: "NiconneRegular";
    src: url(../fonts/Niconne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TenorSansRegular";
    src: url(../fonts/TenorSans-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "nextArt";
    src: url(../fonts/nextart/NEXT\ ART_Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "nextArt";
    src: url(../fonts/nextart/NEXT\ ART_Bold.otf);
    font-style: normal;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 65%;
    margin: auto;
}

.header {
    background-color: rgb(41, 41, 41);
    height: 72vh;
}

.header_inner {
    /* background-color: rgb(68, 68, 68); */
    height: 72vh;
    /* padding-top: 20px; */
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo_link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header_logo_img {
    width: 4vw;
}

.header_logo {
    font-family: "NiconneRegular";
    color: white;
    font-weight: bold;
    font-size: 1.46vw;
    width: 9.43vw;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 7.55vw;
}

.nav_link {
    font-weight: 300;
    font-size: 0.94vw;
    line-height: 21px;
    color: #E4E4E4;
    text-decoration: none;
    font-family: "TenorSansRegular";
}

.nav_link:hover {
    text-decoration: underline;
}

.header_content {
    color: white;
    margin-top: 14vh;
    width: 23.28vw;
    /* width: 40%; */
}
.header_title1 {
    text-transform: uppercase;
    font-family: "nextArt";
    font-weight: 600;
    font-size: 2.50vw;
    margin-bottom: 15px;
}

.header_title2 {
    text-transform: uppercase;
    font-family: "nextArt";
    font-weight: bold;
    font-size: 3.75vw;
}

.header_decribe {
    font-weight: 300;
    font-size: 0.94vw;
    line-height: 21px;
    color: white;
    opacity: 0.7;
    font-family: "TenorSansRegular";
    margin-bottom: 2.8vh;
    margin-top: 1.9vh;
}

.header_btn {
    font-family: "nextArt";
    font-weight: bold;
    width: 10.42vw;
    height: 6vh;
    color: black;
    text-transform: uppercase;
    font-size: 0.92vw;
    line-height: 20px;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
    border: none;
}

.header_btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header_btn:active {
    opacity: 0.6;
}

.about {
    background-color: rgb(60, 60, 60);
    padding: 70px;
}

.skills_content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7vh;
    /* justify-content: space-between; */
}

.skills_block {
    /* width: 14.06vw; */
    /* height: 25vh; */
    width: calc(32% - 40px);
	height: calc((27vw - 40px) / 16 * 9);
    background: #2A2A2A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 2vh; */
    margin: 0 auto 2.5vh auto;
}

.skills_block_title {
    font-family: "nextArt";
    font-size: 1.4vw;
    /* color: #E2A300; */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.skills_img {
    height: 75%;
    max-width: 95%;
}

.about_content {
    background-color: rgb(44, 44, 44);
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 0 3% 40px 3%;
}

.about_title {
    position: relative;
    bottom: 2.5vh;
    font-family: "nextArt";
    font-size: 3.5vw;
    line-height: 54px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about_describe {
    font-size: 1.8vw;
    opacity: 0.7;
}